{% load captcha %}
<div class="postform_outer">
  <form id="postform" method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="postform">
       <tbody>
         <tr>
           <th>
             Name
           </th>
           <td>
             <span>
               <input type="text" name="name" value="" id="postform_name" />
               <span id="postform_msg"></span>
             </span>
           </td>
         </tr>
         <tr>
           <th>
             Subject
           </th>
           <td>
             <input type="text" name="subject" value="" id="postform_subject" />
             <input type="submit" value="{{button}}" class="button" id="postform_submit" />
           </td>
         </tr>
         <tr>
           <th>
             Message
           </th>
           <td>
             <textarea id="postform_message" name="message"></textarea>
           </td>
         </tr>
           <tr>
             <th>
           </th>
           <td>
             <input class="postform_attachment" id="postform_attachments" type="file" name="attachment" multiple />
           </td>
           </tr>
         <tr>
           <th>
             Captcha
           </th>
           <td>
             <img id="captcha_img" src="{{ captcha }}" alt="captcha" />
           </td>
         </tr>
         <tr>
           <th>
             Solution
           </th>
           <td>
             <input type="text" name="captcha" autocomplete="off" id="captcha_solution" height="175" width="350"/>
           </td>
         </tr>
         <tr>
           <th>
             <label id="censor-toggle" for="censor-tools">[censor tools]</label>
           </th>
           <td>
             <input type="checkbox" id="censor-tools"><div style="display: none;">
               <table>
                 <tbody>
                   <tr>
                     <th>
                       Actions:
                     </th>
                     <td>
                       <textarea cols=85 name="modactions" id="modactions"></textarea>
                     </td>
                   </tr>
                   <tr>
                     <th>
                       Secret:
                     </th>
                     <td>
                       <input type="password" name="secret"></input>
                     </td>
                   </tr>
                   <tr>
                     <th>
                       <button onclick="document.getElementById('postform').submit()">report</button>
                     </th>
                     <td>
                     </td>
                   </tr>
                 </tbody>
               </table>
             </div>
           </td>
         </tr>
       </tbody>
     </table>

  </form>
</div>
