{{!
  boardlist.mustache -- full list of every board
  template parameters:
  - graph ( a list of 4 string tuples: (board, posts_per_hour, posts_per_day, total_posts) )
  - frontend ( the name of the frontend )
  - prefix ( the site's prefix )
}}
<!doctype html><html><head><link rel="stylesheet" href="/static/chen-chan.css"><title>{{frontend}} boards</title></head><body>
  <table>
    <tr>
      <th>board</th>
      <th>posts per hour</th>
      <th>posts per day</th>
      <th>total</th>
    </tr>
    {{# graph}}
      <tr>
        <td>
          <a href="{{prefix}}{{Board}}-0.html">{{Board}}</a>
        </td>
        <td>
          {{Hour}}
        </td>
        <td>
          {{Day}}
        </td>
        <td>
          {{All}}
        </td>
      </tr>
    {{/ graph}}
  </table>
</body></html>
