{{!
 keygen.mustache -- page containing a newly generated tripcode
 template parameters:
 - prefix ( the site prefix )
 - public ( the public key in hex )
 - secret ( the secret key in hex )
 - tripcode ( html version of the public key )
}}
<!doctype html><html><head><title>new tripcode</title></head><body><pre>
new tripcode

secret: {{secret}}
public: {{public}}
tripcode: {{{tripcode}}}
</pre></body></html>
