{{!
 postform.mustache -- the form for posting

 template parameters:
 - post_url ( the url of the post form )
 - reference ( the post we are replying to, or empty string if it's an op )
 - button ( the text for the reply button )
}}
<form action="{{post_url}}" enctype="multipart/form-data" name="post" method="post" style="overflow:auto">
  <input type="hidden" name="reference" value="{{reference}}">
  <textarea id="postform_message" name="message" placeholder="text" cols="40" rows="10" style="float:left" ></textarea><br>
  <div style="float:left">
  <input type="file" name="attachment"><br>
  <input type="text" name="subject" placeholder="subject"><br>
  <input type="text" name="name" placeholder="name"><br>
  <input type="text" name="captcha" placeholder="captcha"><br>
  <input type="submit" value="{{button}}" class="button"><br>
  </div>
  <img id="captcha_img" src="{{prefix}}captcha/img" alt="captcha" style="float:left">
</form>
