<html>
  <head>
    <link rel="stylesheet" href="{{prefix}}static/site.css"></link>
    <title> here is a new tripcode </title>
  </head>
  <body>
    <pre>New Tripcode:
      <b id="secret_key">secret: {{secret}}</b>
      <b id="public_key">public: {{public}}</b>
      <b id="capcode_key">tripcode: {{tripcode}}</b>
    </pre>
  </body>
</html>