{{!
  404.mustache -- 404 page
  template parameters:
  - prefix (the site prefix)
}}

<html>
  <head>
    <title> 404 </title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{prefix}}static/krane.css" />
    <link rel="stylesheet" href="{{prefix}}static/user.css" />
  </head>
  <body>
      <center>
        <pre>
          {{#i18n.Translations}}{{resource_not_found}}{{/i18n.Translations}}
        </pre>
    </center>
  </body>
</html>
