{{!
  404.mustache -- 404 page
  template parameters:
  - prefix (the site prefix)
}}
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{i18n.Name}}" xml:lang="{{i18n.Name}}">
  <head>
    <title> 404 </title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{prefix}}static/krane.css" />
    <link rel="stylesheet" href="{{prefix}}static/user.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
      <center>
        <pre>
          {{#i18n.Translations}}{{resource_not_found}}{{/i18n.Translations}}
        </pre>
    </center>
  </body>
</html>
