{{!
  boardlist.mustache -- full list of every board
  template parameters:
  - graph ( a list of 4 string tuples: (board, posts_per_hour, posts_per_day, total_posts) )
  - frontend ( the name of the frontend )
  - prefix ( the site's prefix )
}}
<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{{prefix}}static/krane.css"></link>
    <title> {{frontend}} {{#i18n.Translations}}{{board_list_title}}{{/i18n.Translations}} </title>
    <meta property="og:site_name" content="changolia" />
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="board list"/>
    <meta property="og:url" content="{{prefix}}boards.html"/>
    <meta property="og:description" content="changolia board list on {{frontend}}"/>
    <meta property="og:image"
          content="{{prefix}}static/changolia-logo.png"/>

  </head>
  <body>
      <center>
      <table class="activity" cellspacing="0" cellpadding="0" border="0" width="100%">
          <tr>
              <!--
              <td class="usage_td">
              </td>
              <td class="post_td" align="center">
              </td>
              -->
              <td class="board_td">
                  <table cellspacing="0" class="datatable" style="border-collapse: inherit;">
                      <tr><th>posts today</th><th>post rate</th><th>board</th></tr>
                      {{#graph}}
                          <tr><td class="right">{{Day}}</td><td class="right">{{Hour}} PPH</td><td><a href="{{prefix}}b/{{Board}}/">{{Board}}</a></td></tr>
                      {{/graph}}
                  </table>
              </td>
          </tr>
      </table>
      </center>
  </body>
</html>
