{{!
 board.mustache, displays the contents of page N of the board

 template parameters:
 - board ( the model of the current page )
 - page ( the page number of the current page )

 board has the properties:
  - Prefix ( absolute path like //site.tld/ or /path/ )
  - Board ( the name of the board )
  - Navbar ( a function that renders the navbar, should not be escaped )
  - Threads ( a list of Thread Models with the last few replies )
                 }}
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{i18n.Name}}" xml:lang="{{i18n.Name}}" prefix="og: http://ogp.me/ns# fb: https://www.facebook.com/2008/fbml">
    <head>
        <title>{{board.Board}}</title>
        <meta lang="{{i18n.Name}}">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="{{board.Prefix}}static/krane.css" />
        <link rel="stylesheet" href="{{board.Prefix}}static/user.css" />
        <script type="text/javascript" src="{{board.Prefix}}static/overchan.js"></script>
        <meta property="og:site_name" content="changolia" />
        <meta property="og:type" content="website"/>
        <meta property="og:title" content="{{board.Board}}"/>
        <meta property="og:url" content="{{board.Prefix}}b/{{board.Board}}/?lang={{i18n.Name}}"/>
        <meta property="og:description" content="{{board.Board}} on changolia"/>

        <meta property="og:image"
              content="{{board.Prefix}}static/changolia-logo.png"/>

    </head>
    <body class="boardpage">
        {{{board.Navbar}}}
        <div class="sitetitle">
            <h2><a href="#">CHANGOLIA</a></h2>
            <b>Most of the rest of the wild west.</b>
        </div>
        <center><b>{{board.Name}}</b></center>
        <center><button class="spam-button" onclick="nntpchan_mod_commit_spam(this)">Moderate</button></center> 
        <br />
        {{{form}}}
        {{#board.Threads}}
            {{#BumpLock}}
            <div class="thread bumplock" id="thread_{{OP.PostHash}}">
            {{/BumpLock}}
            {{^BumpLock}}
            <div class="thread" id="thread_{{OP.PostHash}}">
            {{/BumpLock}}
            {{#Truncate}}
                {{{OP.RenderPost}}}
                <div class="excluded">{{MissingPostCount}} posts excluded</div>
                {{#Replies}}
                    {{{RenderPost}}}
                {{/Replies}}
            </div>
            <hr style="clear: both;">
            {{/Truncate}}
        {{/board.Threads}}
        {{{board.Navbar}}}
        <hr />
        <footer>
            <p class="legal">All posts on this site are the responsibility of the individual poster and not the administration, pursuant to 47 U.S.C. § 230.</p>
            <p class="legal">To make a DMCA request or report illegal content, please contact the administration</p>
        </footer>
        <hr />
        <script type="text/javascript">
         ready();
        </script>
    </body>
</html>
