<!doctype html>
<html>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="{{prefix}}static/krane.css" />
  <meta http-equiv="refresh" content="5; {{redirect_url}}" />
  <body>
    <pre>{{#i18n.Translations}}{{post_failed_label}}{{/i18n.Translations}}: {{reason}}</pre>
  </body>
</html>
