<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{i18n.Name}}" xml:lang="{{i18n.Name}}">
  <meta charset="utf-8" />
  <meta lang="{{i18n.Name}}">
  <link rel="stylesheet" href="{{prefix}}static/krane.css" />
  <meta http-equiv="refresh" content="5; {{redirect_url}}" />
  <body>
    <pre>{{#i18n.Translations}}{{post_failed_label}}{{/i18n.Translations}}: {{reason}}</pre>
  </body>
</html>
