{{!
 postform.mustache -- the form for posting

 template parameters:
 - post_url ( the url of the post form )
 - reference ( the post we are replying to, or empty string if it's an op )
 - button ( the text for the reply button )
 - files ( bool, do we allow attachments ? )
 - csrf ( csrf token )
                 }}
<div class="postform" align="center">
    <form method="POST" action="{{post_url}}" enctype="multipart/form-data">
        <input type="hidden" name="reference" value="{{reference}}" id="postform_reference"/>
        <table cellspacing="1" cellpadding="0">
            <tr>
                <th>{{#i18n.Translations}}{{name}}{{/i18n.Translations}}</th>
                <td><input type="text" name="name" class="posttext" /></td>
            </tr>
            <tr>
                <th>{{#i18n.Translations}}{{subject}}{{/i18n.Translations}}</th>
                <td><input type="text" name="subject" class="posttext" /></td>
            </tr>
            <tr>
                <th>{{#i18n.Translations}}{{comment}}{{/i18n.Translations}}</th>
                <td><textarea id="comment" name="message" class="postarea"></textarea></td>
            </tr>
            <tr> 
            <th>
            Link URI
            </th>
            <td>
              <input class="posttext" id="postform_uri" name="uri" value="" type="text" />
            </td>
            </tr>
            {{^DisableCaptcha}}
                <tr>
                    <th>
                        {{#i18n.Translations}}{{captcha}}{{/i18n.Translations}}
                    </th>
                    <td>
                        <img id="captcha_img" src="{{prefix}}captcha/img" alt="captcha" />
                    </td>
                </tr>
                <tr>
                    <th>
                        {{#i18n.Translations}}{{solution}}{{/i18n.Translations}}
                    </th>
                    <td>
                        <input type="text" name="captcha" autocomplete="off" id="captcha_solution" height="175" width="350"/>
                    </td>
                </tr>

            {{/DisableCaptcha}}
            <tr>
                <th>{{#i18n.Translations}}{{file}}{{/i18n.Translations}}</th>
                <td>
                    <table cellspacing="0" cellpadding="0" width="100%">
                        <tr>
                            {{#files}}
                            <td><input type="file" name="attachment_uploaded" class="postfile" multiple /></td>
                            {{/files}}
                            <td align="right"><input type="submit" value="{{button}}" class="postbutton"/></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </form>
</div>
