{{!
 thread.mustache -- renders to a thread-*.html page, shows the entire thread
 template parameters:
 - board ( the Board Model of the board this thread was posted in )
 - thread ( the Thread Model of the current thread being rendered )

 Thread Model attributes:
 - OP , the Post Model of the original poster
 - Replies , a list of all the replies or empty if none
 - Board , the name of the Board this thread is on
 - BoardURL , the url that points to the board index page
}}

<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{i18n.Name}}" xml:lang="{{i18n.Name}}" prefix="og: http://ogp.me/ns# fb: https://www.facebook.com/2008/fbml">
    <head>
        <title>{{board.Board}}</title>
        <meta lang="{{i18n.Name}}">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{{thread.Prefix}}static/krane.css" />
        <link rel="stylesheet" href="{{thread.Prefix}}static/user.css" />
        <script type="text/javascript" src="{{thread.Prefix}}static/overchan.js"></script>
        <meta property="og:site_name" content="changolia" />
        <meta property="og:type" content="website"/>
        <meta property="og:title" content="{{thread.Board}}"/>
        <meta property="og:description" content="{{thread.OP.Brief}}"/>
        {{#sfw}}
        <meta property="og:url" content="{{prefix}}t/{{thread.OP.PostHash}}/?lang={{i18n.Name}}&sfw=1"/>
        {{/sfw}}
        {{^sfw}}
        <meta property="og:url" content="{{prefix}}t/{{thread.OP.PostHash}}/?lang={{i18n.Name}}"/>
        {{/sfw}}
        {{#thread.OP.Attachments}}
        <meta property="og:image" content="{{Thumbnail}}" />
        {{/thread.OP.Attachments}}
        </head>
    <body class="threadpage">
        {{{thread.Navbar}}}
        <hr />
        <div class="sitetitle">
            {{#sfw}}
            <h2><a href="{{thread.Prefix}}?lang={{i18n.Name}}&sfw=1">CHANGOLIA</a></h2>
            {{/sfw}}
            {{^sfw}}
            <h2><a href="{{thread.Prefix}}?lang={{i18n.Name}}">CHANGOLIA</a></h2>
            {{/sfw}}
            <b>Most of the rest of the wild west.</b>
        </div>
        <center><b><a href="{{thread.BoardURL}}">{{thread.Board}}</a></b></center>
        <center><button onclick="nntpchan_mod_commit_spam(this)">Moderate</button></center>
        <br />
        {{{form}}}
            {{#thread.BumpLock}}
            <div class="thread bumplock" id="thread_{{thread.OP.PostHash}}">
            {{/thread.BumpLock}}    
            {{^thread.BumpLock}}
            <div class="thread" id="thread_{{thread.OP.PostHash}}">
            {{/thread.BumpLock}}
            {{{thread.OP.RenderPost}}}
            {{#thread.Replies}}
                {{{RenderPost}}}
            {{/thread.Replies}}
            </div>
            <hr style="clear: both;">
        <footer>
            <p class="legal">All posts on this site are the responsibility of the individual poster and not the administration, pursuant to 47 U.S.C. § 230.</p>
            <p class="legal">To make a DMCA request or report illegal content, please contact the administration</p>
        </footer>
        <hr />
        <script type="text/javascript">
         ready();
        </script>
    </body>
</html>
