/*
dayman
fighter of the night man
champion of the sun
*/

body {
    background-color: #FFEFC9;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-image: url('maymface.png');
}

.reply, .ukko_thread_header, th, .postform > tr , tbody > tr:nth-of-type( even )  {
    background: #FBFFC9;
}

#postform_container {
    background-color: rgba(0,0,0,0);
}

.post:target {
    background-color: #ffda9b;
    box-shadow: 0px 0px 5px 1px;
}

img#nntpchan_banner {
    box-shadow: 0px 0px 10px 0px #FFECBE;
}

#postform_inner {
    box-shadow: 0px 1px 5px 1px;
}

.navbar, table, thead, th, table, pre, .op {
    background: #FFECBE;
}
