input {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

.livechan_captcha_input {
    color: black;
}

textarea, select {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}


.livechan_chat_input {
  padding: 0;
  margin: 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background: #d6daf0;
}

.livechan_chat_input_name, .livechan_chat_input_convo {
  padding: 0;
  padding-left: none;
  margin: 0;
  width: 80%;
  color: black;
}

.livechan_chat_input_left {
    width: 19%;
}

.livechan_chat_input_message_div {
  padding:0;
  margin:0;
  position: absolute;
  width: 70%;
  left: 20%;
  top: 3px;
  bottom: 0;
}

.livechan_chat_input_message {
  padding: 0;
  margin: 0;
  border:none;
  height: 100%;
  width: 100%;
  resize: none;
}

.livechan_chat_input_submit {
  position: absolute;
  width: 8%;
  top: 3px;
  right: 1px;
  bottom: 0;
  border: none;
  color: black;
}

.livechan_chat_output {
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  bottom: 60px;
  overflow: auto;
  width: 89%;
  -webkit-overflow-scrolling: touch;
}

.livechan_chat_output_chat {
  max-height: 200px;
  overflow: hidden;
}

.livechan_chat_output_date {
    margin: 0 4px;
}

.livechan_chat_output_count:hover {
    cursor: pointer;
}

.livechan_chat_capcode {
    margin: 0 4px;
    font-style: italic;
    font-weight: lighter;
}

.livechan_image_thumb {
    max-width: 300px;
    max-height: 200px;
    float: left;
    margin: 10px;
}

.livechan_captcha {
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    position: fixed;
    opacity: 0.9;
}

.livechan_captcha_inner {
    padding: 200px;
}

.livechan_captcha_image {
}

.livechan_captcha_input {
    float: down;
}

.livechan_spoiler {
    color: black;
    background: black;
}

.livechan_chat_output_chat {
    background: #d6daf0;
}

.livechan_spoiler:hover {
    color: white;
}

.livechan_convo_label {
    padding: 5px;
}

.livechan_convobar_root {
    position: fixed;
    top: 20px;
    right: 0;
    width: 10%;
}

.livechan_convobar_item {
    padding: 5px;
    margin: 5px;
    background: #d6daf0;
}

.livechan_navbar {
    z-index: 3;
    position: fixed;
    top: 0;
    width: 100%;
    height: 20px;
}

.livechan_navbar_mod_indicator_inactive, .livechan_navbar_mod_indicator_active, .livechan_navbar_status, .livechan_navbar_channel_label {
    padding-left: 10px;
    padding-right: 10px;
    background: #d6daf0;
}


.hover {
   position: relative;
   padding: 1px;
   left: -1000px
   border: 1px dashed black;
   visibility: hidden;
}
.hover > img {
    position: fixed;
    top: 0%;
    right: 0;
    max-width: 75%;
    max-height: 75%;
    visibility: visible;
}

.livechan_captcha, .livechan_convobar_root, #chat {
    background: #EEF2FF;
}

.livechan_chat_output_chat {
  font-family: monospace;
  margin: 4px;
  padding: 4px;
}

.livechan_chat_output_name {
  font-weight: bold;
  color: green;
}

.livechan_chat_output_count:hover {
  color: red;
}

.livechan_greentext {
  color: #789922;
}

.livechan_boldtext {
  font-weight: bold;
}

.livechan_internallink , a {
    color: blue;
}

.livechan_internallink:hover , a {
  color: red;
  cursor: pointer;
}

.livechan_chat_selected {
  background: blue;
}


.livechan_navbar_mod_indicator_active {
    background: #4a4ad4;
    color: #34d434;
}

.livechan_navbar_mod_indicator_admin {
    background: #4a4ad4;
    color: red;
}

.livechan_navbar_mod_indicator_inactive {
    color: #aaaaaa;
    background: #EEF2FF;
}


.livechan_redtext {
    color: #af0a0f;
    font-weight: bold;
}


.livechan_chat_output_chat{
    font-family: Arial,Helvetica,sans-serif;
    font-size:13px;
    border-right: 1px solid #B7C5D9;
    border-bottom: 1px solid #B7C5D9;
    margin:3px 2em;
    padding:0;
    max-height:100vh;
    display: inline-block;
    vertical-align:top;
    float: left;
    clear: both;
}
.livechan_chat_output_chat:last-child{
    margin-bottom:2em;
}
.livechan_chat_output_header{
    margin:3px 7px 0;
    font-size:85%;
    opacity:0.66;
}
.livechan_chat_output_body{
    padding:0.75em 1.5em;
}
.livechan_chat_output_message > a{
    float:left;
    display:inline-block;
    margin:0 1em 1em 0;
}
.livechan_image_thumb{
    float:none;
    margin:0;
    vertical-align:top;
}


.livechan_navbar{
    border-bottom: 1px solid #B7C5D9;
    background:#D6DAF0;
}
.livechan_chat_output{
    border-right: 1px solid #B7C5D9;
}
