body {
  background: #EEF2FF url('bg.png') repeat-x 50% 0%;
  color: black;
  font-family: arial,helvetica,sans-serif;
  font-size: 10pt;
  margin: 0 4px;
  padding-left: 4px;
  padding-right: 4px;
}


main,
aside,
section {
	display: block;
	margin: 0 auto;
	width: 100%;
}

.hover {
    position: absolute;
}

.notfound-hover {
    background: #EEF2FF;
    padding: 10px;
}

#postform_container {
    background-color: #EEF2FF;
}

.shadow {
    box-shadow: 0 0 10px rgba(0,0,0,0.55);
}

.hover > div > .post , .notfound-hover {
    background-color: #D6DAF0;
    box-shadow: 0 0 10px rgba(0,0,0,0.55);
}

.frontend , .subject, .catalog_subject {
    color: #0F0C5D;
}

.name {
    color: #117743;
    padding-left: 5px;
}

.postno {
    padding-right: 5px;
}
.error {
    color: red;
}

.name , .subject {
    font-weight: bold;
}

#postform-outer {
    text-align: center;
}


textarea {
    width: 350px;
}

#postform-inner {
    display: inline-block;
}

.post {
    padding: 10px 10px;
}

.download_link,.fname_link {
    display: block;
    text-align: center;
    font-size: 90%;
    height: auto
    padding: 0.5em 0;
    margin: auto;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 2.4em;
}

.post_body > pre {
    font-size: 10pt;
    font-weight: unset;
}

pre {
    white-space: pre-wrap;
    align: center;
    font-size: 12pt;
    color: black;
    display: inline-block;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-weight: bold;

    font-family: sans;
    
    margin-left: auto;
    margin-right: auto;
}

table {
	margin: auto;
}
table.board-list-table {
	width: 100%;
}

table tbody td {
	margin: 0;
	padding: 4px 15px 4px 4px;
	vertical-align: top;
	text-align: left;
}
table thead th {
	border: 1px solid #000333;
	padding: 4px 15px 5px 5px;
	
	background: #98E;
	color: #000333;
	text-align: left;
	white-space: nowrap;
}
table tbody tr:nth-of-type( even ) {
	background-color: #D6DAF0;
}

.postform > tr, th {
     background: #98E;
     font-size: 10pt;
     text-align: left;
     padding-right: 10px;
     padding-left: 4px;
}

.postform td{
	padding: 0px 15px 0px 4px;
}

.button {
	max-width: 10em;
	height: 2em;
}

tr {
	background-color: transparent!important;
}

input[type="text"],input[type="password"],textarea {
  border: 1px solid #a9a9a9;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  word-spacing: normal;
  font-size: inherit;
  font-family: sans-serif;
}

#board_td {
    vertical-align: top;
}

.reply, .pagelist, .op {
    background: #D6DAF0;
    border-width: 1px;
    border-style: none solid solid none;
    border-color: #B7C5D9;
    max-width: 94%!important;
}

.reply, .ukko_thread_header {
    background: #D6DAF0;
    margin-left: 24px;
}

legend {
	/* background-color: #525252; */
}

hr {
    height: 0px;
    border-width: 1px medium medium;
    border-color: #b7c5d9;
    border-style: solid none none;
    clear: both;
}

.board_header {
  font-family: tahoma;
  letter-spacing: -2px;
  font-size: 20pt;
  margin: 0;
  color: #AF0A0F;
  text-align: center;
  font-weight: bold;
  margin-top: 2em;
}

.board_header_catalog {
  text-align: center;
  margin-top: 1em;
}

.catalog_thread {
    display: inline-block;
    width: 180px;
    text-align: center;
    padding: 0.25em;
    height: 240px;
    overflow: hidden;
    background-color: rgba(182, 182, 182 ,0.12);
    margin: 0.1em;
    border: 2px solid rgba(111, 111, 111, 0.34);
}

.catalog_thread:hover {
     background-color: #D6DAF0;
}

#catalog_container {
    width: 95%;
    margin: 1em auto;
    text-align: center;
}

.catalog_header, .catalog_subject {
    font-weight: bold;
}

.linkThumb img {
    max-height: 128px;
    max-width: 128px;
    box-shadow: 0 0 4px rgba(0,0,0,0.55);
    border: 2px solid rgba(153,153,153,0);
}

a:hover , a:visited:hover, .navbar-link > label:hover {
    color: #ff0000;
}

a, a:visited, .navbar-link > label {
    color: #34345C;
}

.postno {
    font-style: italic;
}

.postno, .postnol, .postnol:visited {
    color: black;
    text-decoration: none;
}

.postno:hover, .postnol:hover, .postnol:visited:hover {
    color: #ff0000;
    text-decoration: underline;
}

.navbar, .search-navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    margin-top: 0px;
    z-index: 20;
    box-shadow: 1px 10px 20px rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid;
    background: #D6DAF0;
    color: #34345C;
    min-height: 20px;
    padding-top: 2px;
}

.search-navbar {
    padding-left: 10px;
}

.searchresult {
    margin-top: 20px;
}

.navbar-sep {
    color: darkgray;
}

.navbar-link > label {
    text-decoration: underline;
}

#postform_container {
    margin-top: 1em;
}

.navLinks {
     padding-bottom: 50px;
}


input, textarea {

}

.thread_header {
    
}

/*
.ukko_thread_header {
    border-color: #C0C3D4;
    border-top-left-radius: 0px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 0px;
    border-style: dashed;
}
*/
.frontend {
    margin-top: 0px;
    display: inline-block;
    margin-right: 5px;
}
/*
.op , .reply {
    float: left;
    clear: both;
}
*/
.op {
    margin-top: 5px;
    margin-bottom: 1px;
}

.post:target {
    background-color: #A99AFF;
}

.postreply {
    float: right;
}

div {
    flex: 1;
    flex-direction: row;
}

.post {
    background-color: #D6DAF0;
    
    border: 1px solid #B7C5D9;
    border-left: none;
    border-top: none;
    padding: 2px;
    margin: 2px;

/*
    display: table;
    padding: 2px;
    margin: 2px;

    display: inline-block;
    float: left;
    clear: both;
*/  
    min-width: 500px;
}

.postheader {
    width: 100%;
    padding-top: 3px;
    padding-right: 5px
}

.tripcode {
    color: #de04ef;
}

@keyframes psych
{
    0%   {background-color: red; color: blue; }
    10%  {background-color: yellow; color: red; }
    20%  {background-color: blue; color: green; }
    30% {background-color: green; color: yellow; }
    40%   {background-color: red; color: blue; }
    50%  {background-color: yellow; color: green; }
    60%  {background-color: blue; color: yellow; }
    70% {background-color: green; color: blue; }
    80%   {background-color: red; color: green; }
    90%  {background-color: yellow; color: red; }
    95%  {background-color: blue; color: yellow; }
    100% {background-color: green; color: white; }
}

.psy {
    animation: psych 2s linear infinite;
    display: inline-block;
}

.memearrows {
    color: #789922;
    margin-left: none;
}

.redtext {
    color: #AF0A0F;
    font-size: 12pt;
    font-weight: bold;
    margin-left: none;
}

.spoiler {
    display: inline-block;
}

.spoiler > p {
    background: black;
    color: black;
}

.spoiler:hover > p {
    background: black;
    color: white;
}

.intro {
    margin-bottom: 0.75em;
}

.file:not(.multiple) .file-thumbnail {
    float: left;
}

.expanded-thumbnail {
    display: inline;
    max-width: 100%;
    max-height: 100%;
    margin: 10px 10px 10px;
}

.thumbnail {
    display: block;                      
    margin: 5px 20px;
    border: medium none;
    max-width: 300px;
    max-height: 200px;
}

.reply  {
    padding: 3px 5px 3px 5px;
/*
    float: left;
    clear: both;
*/
}

.post_body {
    margin-left: 15px;
    margin-top: 3px;
    margin-bottom: 10px;
}
.post_body_line {
    margin-left: inherit;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.pagelist {
    display: inline-block;
    overflow: hidden;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 10px 10px 10px 10px;
    font-size: 12pt;
    font-weight: medium;

}

.backlink_rewritten {
    z-index: 5;
}

.backlink, .backlink:hover, .backlink:visited, .backlink:visited:hover, .backlink_rewritten {
    margin-left: none;
    color: #D00
}


.origin > img{
    height: 25px;
    vertical-align: text-top;
    margin-right: 5px;
}

.postform_attachment {
    max-width: 330px;
}

#faq > div {
    margin-left: 20%;
    width: 50%;
    padding: 10px;
}

#captcha_img {
    background: white;
}

figure {
    float: left;
    margin: 1ex;
}
img.thumbnail {
    max-width: 350px;
    max-height: 350px;
}


.replybar {
    float: left;
    position: fixed;
    top: 2ex;
    width: 500px;
}
@media (max-width: 100ex) {
    .replybar {
		width: 100%;
		position: static;
    }
}

.hide-reply:checked ~ div {
    width: 100%;
    position: static;
}

textarea#reply-text {
    width: 100%;
    resize: vertical;
}

.hide-reply {
    float: right;
    position: fixed;
    top: 0;
    right: 0;
}

#nntpchan_banner {
    align: center;
}

.legal {
    font-size: 10px;
    text-align: center;
}

.attachments {
    float: left;
    margin-bottom: 5px;
}

.navbar-links, .navbar-link, .navbar-name {
    padding-left: 2px;
    padding-right: 2px;
}

.board_title {
    padding-right: 4px;
}

.thread {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80%;
}

@keyframes rotate {
    0% { transform:rotate(0deg); }
    25% { transform:rotate(-1deg); }
    50% { transform:rotate(0deg); }
    75% { transform:rotate(1deg); }
}

.truncated_post {
    max-width: 75%;
    padding-left: 25%;
}

/** mod stuff */
[type=checkbox] {
    display: none;
}
:checked + div {
    display: block !important;
}

#censor-toggle {
    font-style: italic;
    text-decoration: underline;
    font-weight: normal;
}

th > label {
    text-decoration: underline;
}

#censor-toggle, a {
    color: #34345C;
}
