
.frontend , .subject {
    color: #928BFF;
}

.name {
    color: #117743;
}

.name , .subject {
    font-weight: bold;
}

#postform-outer {
    text-align: center;
}

input {
    width: 70%;
}

input.button {
    width: 25%;
}

textarea {
    width: 350px;
}

#postform-inner {
    display: inline-block;
}

.post {
    padding: 10px 10px;
}

pre {
    white-space: pre-wrap;
    background: #3f3f3f;
    color: #d17600;
    display: inline-block;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

td {
    background-color: #1C1C1C;
}

.board_td {
    position: relative; left: 2px;
}

.posts_td {
    position: relative; left: -2px;
}

#overview_graph {
    position: relative;
    top: 2px;
    background: #1C1C1C;
}

.reply, .ukko_thread_header {
    background: #202331;
}

legend {
	/* background-color: #525252; */
}

hr {
    height: 0px;
    border-width: 1px medium medium;
    border-color: #b7c5d9;
    border-style: solid none none;
}

a:hover , a:visited:hover {
    color: #f13333;
}

a {
    color: cornflowerblue;
}

a:visited {
    color: #0C2FF3;
}

.navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    margin-top: 0px;
    z-index: 20;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.15);
    background: #202331;
    color: lightgray;
}

.navbar-sep {
    color: darkgray;
}

#postform_container {
    margin-top: 5em;
}

.ukko_thread_header {
    padding: 5px 5px;
    margin: 5px 5px;
    display: inline-block;
}

th {
    background: #4DA6BD;
    font-size: 10pt;
    padding-left: 10px;
    padding-right: 15px;
}

input, textarea {
    color: whitesmoke;
    background: #2d2d2d;
    border-color: #4D28CA;
    border-radius: 3px;
}

html {
    color: #ededed;
    background: black;
    height: 100%;
    font-family: arial,helvetica,sans-serif;
    font-size: 10pt;
    margin: 0 4px;
    padding-left: 4px;
    padding-right: 4px;
}

.reply {
    margin-left: 1.8em;
    display: inline-block;
    border-radius: 3px;
}

.frontend {
    margin-top: 0px;
    display: inline-block;
}

.op {
    margin-right: 20px;
    margin-bottom: 10px;
}

.post {
    display: inline;
    margin-bottom: 5px;

}

.tripcode {
    color: #de04ef;
}

@keyframes psych
{
    0%   {background-color: red; color: blue; }
    10%  {background-color: yellow; color: red; }
    20%  {background-color: blue; color: green; }
    30% {background-color: green; color: yellow; }
    40%   {background-color: red; color: blue; }
    50%  {background-color: yellow; color: green; }
    60%  {background-color: blue; color: yellow; }
    70% {background-color: green; color: blue; }
    80%   {background-color: red; color: green; }
    90%  {background-color: yellow; color: red; }
    95%  {background-color: blue; color: yellow; }
    100% {background-color: green; color: white; }
}

.psy {
    animation: psych 2s linear infinite;
    display: inline-block;
}


.memearrows {
    color: #29D029;
}

.redtext {
    color: #d50505;
    font-weight: bold;
}

.spoiler {
    display: inline-block;
}

.spoiler > p {
    background: black;
    color: black;
}

.spoiler:hover > p {
    background: black;
    color: white;
}

.intro {
    margin-bottom: 0.75em;
}

.file:not(.multiple) .file-thumbnail {
    float: left;
}

.file-thumbnail {
    display: block;
    margin: 5px 20px 10px;
    border: medium none;
    max-width: 300px;
    max-height: 200px;
}

.reply, .ukko_thread_header , pre {
    padding: 7px 7px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px black;                    
}

.post_body > p {
    margin: 0px 0px;
}

.post_body {
    display: inline;
}

.post {
    display: inline-block;
    width: 80%;
}

#postform_attachment {
    max-width: 330px;
}

#faq > div {
    margin-left: 20%;
    width: 50%;
    padding: 10px;
}

#captcha_img {
    background: #4DA6BD;
}

figure {
    float: left;
    margin: 1ex;
}
figure img {
    max-width:256px;
    max-height:128px;
    max-width:100%;
}
fieldset {
    overflow: auto;
	border-radius: 5px 0px 5px 0px;
}

fieldset > img {
	float: right;
}

.thread {
    float: left;
	width: 90%;
	padding-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #252525;
}

.replybar {
    float: left;
    position: fixed;
    top: 2ex;
    right: 0;
    width: 34%
    }
@media (max-width: 100ex) {
    .replybar, .thread {
		width: 100%;
		position: static;
    }
}

.hide-reply:checked ~ div {
    width: 100%;
    position: static;
}

textarea#reply-text {
    width: 100%;
    resize: vertical;
}

.hide-reply {
    float: right;
    position: fixed;
    top: 0;
    right: 0;
}

hr {
	padding-bottom: 20px;
}


#nntpchan_banner {
    align: center;
}