.thread {
    margin-bottom: 1em;
    display: inline-block;
    word-wrap: break-word;
    width: 100%;
}

.frontend , .subject {
    color: #928BFF;
}

.name {
    color: #117743;
}


.name , .subject {
    font-weight: bold;
}

#postform-outer {
    text-align: center;
}


input {
    width: 70%;
}

input.button {
    width: 25%;
}

textarea {
    width: 350px;
}

#postform-inner {
    display: inline-block;
}

.post {
    padding: 10px 10px;
}

pre > p {
    display: block-inline;
}

.reply, th, .ukko_thread_header {
    background: #202331;
}

tr {
    background: #202123;
}

hr {
    height: 0px;
    border-width: 1px medium medium;
    border-color: #b7c5d9;
    border-style: solid none none;
}


a:hover , a:visited:hover {
    color: #f13333;
}

a {
    color: #4A4AFF;
}

a:visited {
    color: #5E00A0;
}

.navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    margin-top: 0px;
    z-index: 20;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.15);
    background: #202331;
    color: #616383;

}

.navbar-sep {
    color: black;
}

#postform_container {
    margin-top: 5em;
}

.ukko_thread_header {
    padding: 5px 5px;
    margin: 5px 5px;
    display: inline-block;
}

th {
    font-size: 10pt;
    padding-left: 10px;
    padding-right: 15px;
}

#captcha_img {
    background: #d3d3d3;
}

input, textarea {
    color: whitesmoke;
    background: #2d2d2d;
    border-color: #4D28CA;
    border-radius: 3px;
}

html {
    color: #ededed;
    background: #262230;
    height: 100%;
    font-family: arial,helvetica,sans-serif;
    font-size: 10pt;
    margin: 0 4px;
    padding-left: 4px;
    padding-right: 4px;
}

.reply {
    margin-left: 1.8em;
    display: inline-block;
    border-radius: 3px;
}

.frontend {
    margin-top: 0px;
    display: inline-block;
}

.op {
    margin-right: 20px;
    margin-bottom: 10px;
}

.post {
    display: inline;
    margin-bottom: 5px;

}

.tripcode {
    color: #de04ef;
}

@keyframes psych
{
    0%   {background-color: red; color: blue; }
    10%  {background-color: yellow; color: red; }
    20%  {background-color: blue; color: green; }
    30% {background-color: green; color: yellow; }
    40%   {background-color: red; color: blue; }
    50%  {background-color: yellow; color: green; }
    60%  {background-color: blue; color: yellow; }
    70% {background-color: green; color: blue; }
    80%   {background-color: red; color: green; }
    90%  {background-color: yellow; color: red; }
    95%  {background-color: blue; color: yellow; }
    100% {background-color: green; color: white; }
}

.psy > p {
    animation: psych 2s linear infinite;
    display: inline-block;
}


.memearrows {
    color: green;
}

.redtext {
    color: #d50505;
    font-weight: bold;
}

.spoiler {
    display: inline-block;
}

.spoiler > p {
    background: black;
    color: black;
}

.spoiler:hover > p {
    background: black;
    color: white;
}

.intro {
    margin-bottom: 0.75em;
}

.file:not(.multiple) .file-thumbnail {
    float: left;
}

.file-thumbnail {
    display: block;
    margin: 5px 20px 10px;
    border: medium none;
    max-width: 300px;
    max-height: 200px;
}

.reply, .ukko_thread_header , pre {
    padding: 7px 7px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px black;                    
}

.post_body > pre {
    background: #3f3f3f;
    color: #d17600;
}

.post_body > p {
    margin: 0px 0px;
}

.post_body {
    display: inline;
    width: inherit;
}

.post {
    display: inline-block;
    width: 80%;
}

#faq > div {
    margin-left: 20%;
    width: 50%;
    padding: 10px;
}

#captcha_img {
    background: grey;
}