<html>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="{{prefix}}static/site.css" />
  <link rel="stylesheet" href="{{prefix}}static/user.css" />
  <meta http-equiv="refresh" content="1; {{redirect_url}}" />
  <body>
    <p>post failed: {{reason}}</p>
  </body>
</html>