<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1" />
    <link rel="stylesheet" href="{{board.Prefix}}static/site.css" />
    <link rel="stylesheet" href="{{board.Prefix}}static/user.css" />
    <script type="text/javascript" src="{{board.Prefix}}static/nntpchan.js"></script>
    <title>{{#i18n.Translations}}{{binary_install_title}}{{/i18n.Translations}}</title>
  </head>
  <body>
 <div class="installer_header">{{#i18n.Translations}}{{binary_install_title}}{{/i18n.Translations}}</div>
 {{#dialog.HasError}}
   <p class="installer_error">{{dialog.Error}}</p>
 {{/dialog.HasError}}
 <form action="" method="post" autocomplete="off">
 <div id="install-outer">
   <div id="installer-inner">
     <table class="installer-tab">
       <tbody>
         <tr>
           <th>
             {{#i18n.Translations}}{{convert_prompt}}{{/i18n.Translations}}
           </th>
           <td>
             <input type="text" name="convert" value="{{dialog.Convert}}">
           </td>
         </tr>
         <tr>
           <th>
             {{#i18n.Translations}}{{ffmpeg_prompt}}{{/i18n.Translations}}
           </th>
           <td>
             <input type="text" name="ffmpeg" value="{{dialog.FFmpeg}}">
           </td>
         </tr>
         <tr>
           <th>
             {{#i18n.Translations}}{{sox_prompt}}{{/i18n.Translations}}
           </th>
           <td>
             <input type="text" name="sox" value="{{dialog.Sox}}">
           </td>
         </tr>
       </tbody>
     </table>
   </div>
   {{#dialog.HasNext}}
   <input type="submit" value="{{#i18n.Translations}}{{next_prompt}}{{/i18n.Translations}}" class="button" />
   {{/dialog.HasNext}}
   {{^dialog.HasNext}}
   <input type="submit" value="{{#i18n.Translations}}{{finish_prompt}}{{/i18n.Translations}}" class="button" />
   {{/dialog.HasNext}}
 </div>
 </form>
 {{#dialog.HasPrevious}}
 <div class="back_button">
 <form action="" method="post">
     <input type="hidden" name="back" value="true" />
     <input type="submit" value="{{#i18n.Translations}}{{previous_prompt}}{{/i18n.Translations}}" class="button" />
 </form>
 </div>
 {{/dialog.HasPrevious}}
</body>
</html>
