

body, html {
    background: #EEF2FF url('/static/bg.png') repeat-x 50% 0%;
}

#logo {
    height: 500px;
}

.frontpage {
   /* align-self: center; */
}

div {
    display: flex;
    font-size: 12pt;
    font-family: sans;
}

hr {
    height: 0px;
    border-width: 1px medium medium;
    border-color: #b7c5d9;
    border-style: solid none none;
    width: 100%;
}

#navbar {
    z-index: 20;
    position: fixed;
    top: 0px;
    margin-top: 0px;
    left: 0px;
    right: 0px;
    box-shadow: 1px 10px 20px rgba(0, 0, 0, 0.15);
    min-height: 20px;
    background-color: #d6daf0;
    border-bottom: 1px solid;
    color: #34345c
}

.navbar.left {
    flex-basis: 100%;
}

#navbar_frontpage {
    flex-basis: 5%;
}

.navbar.right {
}

img.thumb {
    margin: 10px;
    max-width: 300px;
    max-height: 200px;
}

.thread {
    flex-direction: column;
    background-color: rgba(214, 218, 240, 0.25);
    border-radius: 10px;
    margin: 1%;
    width: 90%;
    align-items: flex-begin;
    padding: 10%;
}

#wrapper , #content {
    flex-direction: column;
    padding: 5%;
}

.post {
    margin: 1%;
    background-color: #d6daf0;
    width: 90%;
    border: 2px solid #B7C5D9;
    border-radius: 2px 4px 4px 4px;
    border-left: none;
    border-top: none;
    padding: 1%;
    flex-direction: column;
}

form {
    padding: 5%;
    width: 90%;
}

.postreport {
    width: 100px;
}

.postform_outer {

}

#postform {
    
}


#postform_message {
    width: 100%;
    height: 100px;
}

.pf-left {
    flex-direction: column;
    flex-basis: 50%;
    width: 50%;
}

.post-header {
    padding-bottom: 1%;
    flex-basis: 100%;
    flex-direction: row-reverse;
}

.postbody {
    display: inline-block;
    font-family: serif;
    font-size: 10pt;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.post-name {
    font-weight: bold;
    color: #028241;
    margin-left: 1%;
    margin-right: 1%;
}

.post-subject {
    font-weight: bold;
    color: #480188;
    margin-left: 1%;
    margin-right: 1%;
}

.post-date {
    font-style: italic;
    margin-left: 1%;
    margin-right: 1%;
    max-width: 200px;
}

.posts {
    flex-direction: column;
    width: 50%;
    padding-top: 10%;
    padding-left: 25%;
}

footer {
    font-size: 8pt;
    margin-top: 5%;
    maring-bottom: 5%;
    padding-left: 1%;
    margin: 0px;
    min-width: 0px;
    bottom: 0px;
}

.paginator {
    padding-top: 5%;
    padding-bottom: 5%;
}

.post-info {
    flex-basis: 100%;
    overflow: auto;
    display: inline-block;
}

.post-cite {
   /** align-self: flex-end; */
}

.redtext {
    color: red;
    font-weight: bold;
}

.greentext {
    color: green;
    font-style: italic;
}

@keyframes psych {
    0%   {background-color: red; color: blue; }
    10%  {background-color: yellow; color: red; }
    20%  {background-color: blue; color: green; }
    30% {background-color: green; color: yellow; }
    40%   {background-color: red; color: blue; }
    50%  {background-color: yellow; color: green; }
    60%  {background-color: blue; color: yellow; }
    70% {background-color: green; color: blue; }
    80%   {background-color: red; color: green; }
    90%  {background-color: yellow; color: red; }
    95%  {background-color: blue; color: yellow; }
    100% {background-color: green; color: white; }
}

.psy {
    animation: psych 2s linear infinite;
}

.postform > tr, th {
     background: #98E;
     font-size: 10pt;
     text-align: left;
     padding-right: 10px;
     padding-left: 4px;
}

.postform td{
	padding: 0px 15px 0px 4px;
}

table {
	margin: auto;
}
table.board-list-table {
	width: 100%;
}

table tbody td {
	margin: 0;
	padding: 4px 15px 4px 4px;
	vertical-align: top;
	text-align: left;
}
table thead th {
	border: 1px solid #000333;
	padding: 4px 15px 5px 5px;
	
	background: #98E;
	color: #000333;
	text-align: left;
	white-space: nowrap;
}

.postform td{
	padding: 0px 15px 0px 4px;
}

input[type="text"],input[type="password"],textarea {
  border: 1px solid #a9a9a9;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  word-spacing: normal;
  font-size: inherit;
  font-family: sans-serif;
}


/** mod stuff */
[type=checkbox] {
    display: none;
}
:checked + div {
    display: block !important;
}

#censor-toggle {
    font-style: italic;
    text-decoration: underline;
    font-weight: normal;
}


#censor-toggle, a {
    color: #34345C;
}

a:hover {
    color: #ff0000;
}
