<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1" />
    <link rel="stylesheet" href="{{board.Prefix}}static/site.css" />
    <link rel="stylesheet" href="{{board.Prefix}}static/user.css" />
    <script type="text/javascript" src="{{board.Prefix}}static/nntpchan.js"></script>
    <title>Catalog for {{board.Name}}</title>
  </head>
  <body>
    <!-- begin navbar -->
    {{{board.Navbar}}}
    <!-- end navbar -->
    <center>
      <div id="nntpchan_banner">
      </div>
    </center>
    <div class="board_header">Catalog for {{board.Name}}</div>
    <!-- postform -->
    <hr />
    <div id="threads_container">
      {{#board.Threads}}
        <div class="catalog_thread">
          <a href="{{OP.PostURL}}">[Open]</a>
          <div class="catalog_header">R: {{ReplyCount}} / P: {{Page}}</div>
          <div class="catalog_subject">{{OP.Subject}}</div>
          <div class="catalog_body">
            {{{OP.RenderBody}}}
          </div>
        </div>
      {{/board.Threads}}
    </div>
    <script type="text/javascript">

      var e = document.getElementById("nntpchan_banner");
      nntpchan_inject_banners(e, "{{board.Prefix}}");

    </script>
    <hr/>
    <footer>
    <p class="legal">All posts on this site are the responsibility of the individual poster and not the administration, pursuant to 47 U.S.C. § 230.</p>
    <p class="legal">To make a DMCA request or report illegal content, please contact the administration</p>
    </footer>
  </body>
</html>
