<html>
  <head>
    <meta charset="utf-8"></meta>
    <link rel="stylesheet" href="{{prefix}}static/site.css"></link>
    <title> here is a new tripcode </title>
  </head>
  <body>
    <pre>New Tripcode:
      <div id="secret_key">secret: {{secret}}</div><div id="public_key">public: {{public}}</div><div>tripcode: <span class="tripcode" id="capcode_key">{{{tripcode}}}</span></div>
    </pre>
  </body>
</html>