{{!
  live.mustache -- live ui 
  template parameters:
  - prefix ( site prefix )
}}
<!doctype html>
<html>
  <head>
    <title> {{#i18n.Translations}}{{overboard_title}}{{/i18n.Translations}} </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
    <link rel="stylesheet" href="{{prefix}}static/livechan.css" />
    <link id="current_theme" rel="stylesheet" href="{{prefix}}static/user.css" />
    <style type="text/css" id="convo_filter">
    </style>
    <script type="text/javascript" src="{{prefix}}static/nntpchan.js"></script>
  </head>
  <body>
    <div id="chat" style="position:absolute;left:0;right:0;top:0;bottom:0;"></div>
    <script type="text/javascript" >
    e = document.getElementById("chat");
    var board = "live";
    if (location.hash != "" ) {
      board = location.hash.substr(1);
    }
    new Chat(e, board, { prefix : "{{prefix}}" });
    </script>
    <!--
    <footer>
      <p class="legal">All posts on this site are the responsibility of the individual poster and not the administration, pursuant to 47 U.S.C. § 230.</p>
      <p class="legal">To make a DMCA request or report illegal content, please contact the administration</p>
    </footer>
    -->
  </body>
</html>
