<html>
  <head>
    <link ref="stylesheet" href="{{prefix}}static/site.css"></link>
    <title>login</title>
  </head>
  <body>
    <form action="login" method="POST" name="modlogin">
      <label for="mod_key">secret</label>
      <input type="password" id="mod_key" name="privkey" />
      <input type="submit" value="login" />
    </form>
  </body>
</html>
