{{!
 navbar.mustache -- element on the top of each nod-mod page

 TODO: make this not suck, have a board list, have board page list
 
 template parameters:
 - name ( the name of whatever resource we are on, board/thread )
 - frontend ( the name of the frontend we are on )
 - links ( a list of Link Models to display )

}}
<div>
  <span class="board_title">{{name}}</span>
  on
  <span class="frontend_title">{{frontend}}</span>
</div>
<div class="links">
  {{# links }}
    <span class="link"><a href="{{LinkURL}}">{{Text}}</a></span>
  {{/ links }}
</div>
<hr />