{{! overview.mustache
paramters:

- overview (list of PostModels in order of last posted)

}}

<table id="overview_graph">
  <thead>
    <tr>
      <th>Newsgroup</th>
      <th>Posted</th>
      <th>Subject</th>
    </tr>
  </thead>
  <tbody>
    {{#overview}}
      <tr>
        <td>{{Board}}</td>
        <td>{{Date}}</td>
        <td>{{Subject}}</td>
      </tr>
    {{/overview}}
  </tbody>
</table>
