<html>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="{{prefix}}static/site.css" />
  <link rel="stylesheet" href="{{prefix}}static/user.css" />
  <meta http-equiv="refresh" content="1; {{redirect_url}}" />
  <body>
    <p>{{#i18n.Translations}}{{post_failed_label}}{{/i18n.Translations}}: {{reason}}</p>
  </body>
</html>
