<div id="{{post.PostHash}}" class="{{post.CSSClass}}">
  <legend class="postheader">
    <span class="origin">
  {{#post.IsI2P}}
    <img src="{{post.Prefix}}static/i2p.png" title="post from i2p" />
  {{/post.IsI2P}}
  {{#post.IsTor}}
    <img src="{{post.Prefix}}static/tor.png" title="post from tor" />
  {{/post.IsTor}}
  {{#post.IsClearnet}}
    <img src="{{post.Prefix}}static/clearnet.png" title="post from clearnet" />
  {{/post.IsClearnet}}
    </span>  
    <span class="subject">{{post.Subject}}</span>
    <span class="name">{{post.Name}}</span>
    <time datetime="{{post.DateRFC}}">{{post.Date}}</time>
    <a href="#" class="postnol">No.</a><a class="postno" onclick="nntpchan_backlink('{{post.ShortHash}}');" title="{{post.MessageID}}">{{post.ShortHash}}</a>
    <a href="{{post.PostURL}}">[Reply]</a>
    <span class="tripcode">{{{post.Pubkey}}}</span>  
  </legend>
  {{#post.Attachments}}
    <figure>
    <figcaption>
    <a href="{{Source}}" title="{{Filename}}" target="_blank"><img src="{{Thumbnail}}" alt="{{Filename}}" class="thumbnail"/></a>
    </figcaption>
    </figure>
  {{/post.Attachments}}
  <div class="post_body">
    {{{post.RenderBody}}}
  </div> 
</div>
