{{!
 postform.mustache
  template parameters:
 - post_url ( the url of the post form )
 - reference ( the post we are replying to, or empty string if it's an op )
 - button ( the text for the reply button )
 }}
 <h1> posting </h1>
 <form action="{{post_url}}" enctype="multipart/form-data" name="post" method="post">
 <input type="hidden" name="reference" value="{{reference}}" />
 <input type="hidden" name="captcha" value="" id="captcha_input" />
 <table class="postform">
   <tbody>
     <tr>
       <th>
         Name
       </th>
       <td>
         <input type="text" name="name" value="" />
       </td>
     </tr>
     <tr>
       <th>
         Subject
       </th>
       <td>
         <input type="text" name="subject" value="" />
         <input type="submit" value="{{button}}" />
       </td>
     </tr>
     <tr>
       <th>
         Comment
       </th>
       <td>
         <textarea type="text" name="message" cols=35 rows=5></textarea>
       </td>
     </tr>
     <tr>
       <th>
         File
       </th>
       <td>
         <input type="file" name="attachment" />
       </td>
     </tr>
     <tr>
       <th>
         Captcha
       </th>
       <td>
         <img id="captcha_img" src="" alt="captcha" />
       </td>
     </tr>
     <tr>
       <th>
       </th>
       <td>
         <input type="text" name="captcha_solution" />
       </td>
     </tr>
   </tbody>
 </table>
 </form>
