<html>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="{{prefix}}static/site.css" />
  <link id="current_theme" rel="stylesheet" href="{{prefix}}static/user.css" />
  <script type="text/javascript" src="{{prefix}}static/nntpchan.js"></script>
  <meta http-equiv="refresh" content="1; {{redirect_url}}" />
  <body>
    <pre>{{#i18n.Translations}}{{post_failed_label}}{{/i18n.Translations}}: {{reason}}</pre>
  </body>
</html>
