<fieldset>
  <legend>
    {{#IsI2P}}
      <img src="{{Prefix}}static/i2p.png" title="post from i2p" />
    {{/IsI2P}}
    {{#IsTor}}
      <img src="{{Prefix}}static/tor.png" title="post from tor" />
    {{/IsTor}}
    {{#IsClearnet}}
      <img src="{{Prefix}}static/clearnet.png" title="post from clearnet" />
    {{/IsClearnet}}
    <span class="subject">{{Subject}}</span> <span class="name">{{Name}}</span> {{Date}}
    No. <a onclick="nntpchan_backlink('{{ShortHash}}');" title="{{MessageID}}">{{ShortHash}}</a>
    <a href="{{PostURL}}">[reply]</a> <span class="tripcode">{{{Pubkey}}}</span><br />
  </legend>
  <label class="post_body">
    {{{RenderBody}}}
  </label>  
  {{#Attachments}}
    <figure>
    <figcaption>
    <a target="_blank" href="{{Source}}" title="{{Filename}}">{{Filename}}</a>
    </figcaption>
    <img src="{{Thumbnail}}" alt="{{Filename}}" />
    </figure>
  {{/Attachments}}
</fieldset>
