{{!
 postform.mustache -- the form for posting

 template parameters:
 - post_url ( the url of the post form )
 - reference ( the post we are replying to, or empty string if it's an op )
 - button ( the text for the reply button )
 - files ( bool, do we allow attachments ? )
 - csrf ( csrf token )
 }}
 <form action="{{post_url}}" enctype="multipart/form-data" name="post" method="post" id="postform">
 {{{csrf}}}
 <input type="hidden" name="reference" value="{{reference}}" id="postform_reference"/>
 <div id="postform-outer">
   <div id="postform-inner">
     <table class="postform">
       <tbody>
         <tr>
           <th>
             {{#i18n.Translations}}{{name}}{{/i18n.Translations}}
           </th>
           <td>
             <span>
               <input type="text" name="name" value="" id="postform_name" />
               <span id="postform_msg"></span>
             </span>
           </td>
         </tr>
         <tr>
           <th>
             {{#i18n.Translations}}{{subject}}{{/i18n.Translations}}
           </th>
           <td>
             <input type="text" name="subject" value="" id="postform_subject" />
             <input type="submit" value="{{button}}" class="button" id="postform_submit" />
           </td>
         </tr>
         <tr>
           <th>
             {{#i18n.Translations}}{{comment}}{{/i18n.Translations}}
           </th>
           <td>
             <textarea id="postform_message" name="message" cols=40 rows=5></textarea>
           </td>
         </tr>
         <tr>
           <th>
           Link URI
           </th>
           <td>
             <input id="postform_uri" name="uri" value="" type="text" />
           </td>
         </tr>

         {{#files}}
           <tr>
           <th>
             {{#i18n.Translations}}{{file}}{{/i18n.Translations}}
           </th>
           <td>
             <input class="postform_attachment" id="postform_attachments" type="file" name="attachment_uploaded" multiple />
           </td>
         </tr>
         {{/files}}
         {{^DisableCaptcha}}
         <tr>
           <th>
             {{#i18n.Translations}}{{captcha}}{{/i18n.Translations}}
           </th>
           <td>
             <img id="captcha_img" src="{{prefix}}captcha/img" alt="captcha" />
           </td>
         </tr>
         <tr>
           <th>
             {{#i18n.Translations}}{{solution}}{{/i18n.Translations}}
           </th>
           <td>
             <input type="text" name="captcha" autocomplete="off" id="captcha_solution" height="175" width="350"/>
           </td>
         </tr>
         {{/DisableCaptcha}}
         <tr>
           <th>
             <label id="censor-toggle" for="censor-tools">[censor tools]</label>
           </th>
           <td>
             <input type="checkbox" id="censor-tools"><div style="display: none;">
               <table>
                 <tbody>
                   <tr>
                     <th>
                       Actions:
                     </th>
                     <td>
                       <textarea cols=85 id="nntpchan_censor_actions"></textarea>
                     </td>
                   </tr>
                   <tr>
                     <th>
                       Secret:
                     </th>
                     <td>
                       <input type="password" id="nntp_censor_secret"></input>
                     </td>
                   </tr>
                   <tr>
                     <th>
                       <label onclick="nntpchan_submit_censor(document.getElementById('postform'), '{{post_url}}')">report</label>
                     </th>
                     <td>
                       <div id="nntpchan_censor_result"></div>
                     </td>
                   </tr>
                 </tbody>
               </table>
             </div>
           </td>
         </tr>
       </tbody>
     </table>
   </div>
 </div>
 </form>
