<div class="thread_reply" id="post_{{PostHash}}">
  <p class="intro">
    <label for="delete_{{PostHash}}">
      <span class="subject">
        {{Subject}}
      </span>
      <span class="name">
        {{#Sage}}
          <a href="mailto:sage">
            {{Name}}
          </a>
        {{/Sage}}
        {{^Sage}}
          {{Name}}
        {{/Sage}}
      </span>
      <time 
    </label>
    <a href="{{PostURL}}" onclick="">
      No. {{PostHash}}
    </a>
  </p>
  <div class="files">
    {{#Image}}
      <a class="file" href="{{Source}}">
        <img class="file-thumbnail" src="{{Thumbnail}}" />
      </a>
    {{/Image}}
  </div>
  <div class="thread_reply_body">
    {{{RenderBody}}}
  </div>
</div>