{{!
  ukko.mustache -- overboard, contains the last threads posted regardless of newsgroup
  template parameters:
  - prefix ( site prefix )
  - threads ( a list of Thread Models that represent the latest threads )
}}
<html>
  <head>
    <title> ukko / overboard </title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{prefix}}static/site.css" />
    <link rel="stylesheet" href="{{prefix}}static/user.css" />
    <script type="text/javascript" src="{{prefix}}static/nntpchan.js"></script>
  </head>
  <body>
    <center>
      <div id="nntpchan_banner">
      </div>
    </center>
    <div class="board_header"> ukko / overboard </div>
    <div id="ukko_threads">
      {{#threads}}
        <div class="thread" id="thread_{{OP.PostHash}}">
	<div class="ukko_thread_header">
          <p>Posted on <a href="{{{BoardURL}}}"><span class="ukko_boardname">{{OP.Board}}</span></a></p>
        </div>
          {{{OP.Truncate.RenderPost}}}
          {{#Truncate.Replies}}
            {{{Truncate.RenderPost}}}
          {{/Truncate.Replies}}
          <hr />
        </div>
      {{/threads}}
      </div>
      <script type="text/javascript" >
          var e = document.getElementById("nntpchan_banner");
          nntpchan_inject_banners(e, "{{prefix}}");

    </script>
    <hr/>
    <footer>
    <p class="legal">All posts on this site are the responsibility of the individual poster and not the administration, pursuant to 47 U.S.C. § 230.</p>
    <p class="legal">To make a DMCA request or report illegal content, please contact the administration</p>
    </footer>
  </body>
</html>
